body{
    font-family: 'open_sans';
}
.header{
    text-align: center;
    font-size: 1.5rem;
    background-color: aquamarine;
    border-bottom: 1px black solid;
    padding: 1rem 0;
}
.description{
    margin: 1rem 0;
}
.not_supported{
    color: brown;
}